@use "colores";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  font-family: 'Open Sans', sans-serif;
  color: colores.$dark-cryan;
  background-color: colores.$pale-cryan;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 3rem 2rem;
}